// -------------------------------------------------------
// GLOBAL FONT-SIZE, FONT-FAMILY CONTROL
// -------------------------------------------------------

$global-size: 16px;

html{
	font-size: $global-size;
}
body {
	font-family: 'Arial';
}


// -------------------------------------------------------
// GLOBAL FONT-SIZE, FONT-FAMILY CONTROL
// -------------------------------------------------------